<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Simple HttpErrorPages | MIT X11 License | https://github.com/AndiDittrich/HttpErrorPages -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <title>PERFIL</title>
</head>
<body>
    <div class="cover">
        <h1>USUARIO
            <small>{{username}}</small>
        </h1>
        <h2>ROLES
        <div *ngFor="let rol of roles; let i = index">
            <small>{{rol.nombre}}</small>
        </div>
        </h2> 
    </div>
</body>
</html>    